In [2]:
#استدعاء المكتبات 

import pandas as pd #مكتبة التعامل مع الداتا
import numpy as np  #مكتبة التعامل مع المصفوفات

In [3]:
path=r""
data=pd.read_csv(path)

In [4]:
#### define features and target ####

#adding a new column called ones before the data
data.insert(0, 'Ones', 1)# add it because when multiply X{1,1; 1,2; 1,3} in Theta{5,10} product is[5+1*10];[5+2*10];[5+3*10]

X=data.iloc[:,:-1]  # X is the input
y=data.iloc[:,-1]  # y is the output

##convert from data frames to numpy matrices
X = np.matrix(X.values)
y = (np.matrix(y.values)).T


shape = (len(data.axes[1]))  -1
theta = np.matrix(np.ones(shape))

data.columns=['ones','X','Y']

In [6]:
data.head()

   ones        X        Y
0     1  10.9570   7.0467
1     1  13.1760  14.6920
2     1  22.2030  24.1470
3     1   5.2524  -1.2200
4     1   6.5894   5.9966

In [7]:
#### COST FUNCTION ####
def computeCost(X, y, theta):
    f_x=np.dot(X, theta.T)
    summation=np.sum(   np.power ( ((f_x) -y ),2 )   ) 
    m=len(X)
    return summation / (2 * m)

print('COST VALUE = ' , round(computeCost(X, y, theta),3))

COST VALUE =  11.662

In [8]:
#### GRADIEN DESCENT ####
def gradientDescent(X, y, theta, alpha, iters):
    New_Theta   = np.matrix(np.zeros(theta.shape))# same shape of my Theta matrix
    parameters  = int(theta.ravel().shape[1])#
    costs       = np.zeros(iters) 
    m           = len(X)
    for i in range(iters):
        f_x=np.dot(X, theta.T)
        
        error = (f_x) - y
        
        for j in range(parameters):
            term = np.multiply(error, X[:,j])
            New_Theta[0,j] = theta[0,j] - ((alpha / m) * np.sum(term))
            
        theta    = New_Theta
        costs[i] = computeCost(X, y, theta)
        
    return theta, costs
# initialize variables for learning rate and iterations
alpha = 0.001
iters = 60000

# perform gradient descent to "fit" the model parameters
New_theta, costs = gradientDescent(X, y, theta, alpha, iters)

print('NEW THETA = ' , New_theta) # final theta

print('Final Cost = ' , round(computeCost(X, y, New_theta) , 4)) # final cost

NEW THETA =  [[-4.80402586  1.18420621]]
Final Cost =  2.2296